<div class="jumbotron sign-in-jumbo">
  <br>
  <br>
  <br>
  <br>
    <div class="error-messages">
    <% if flash[:error] %>
      <% flash[:error].each do |error| %>
        <h2 class="error"><%= error %></h2>
      <% end %>
    <% end %>
    </div>
    <div class="sign-in-jumbo-content">
    <%= render partial: "layouts/carousel" %>
      <!-- <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="title">darebnb</h1>
      <h2 class="description">get off the grid</h2> -->
    </div>

</div>
