/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


html, body {
  height: 100%;
  width: 100%;
}

div.jumbotron.sign-in-jumbo {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  border-radius: 0px;
}

a.navbar-brand {
  font-family: arial;
  font-size: 4vh;
  vertical-align: center;
  color: #FF4D4D;
  padding-left: 4vw;
  margin-bottom: 10%;
  font-weight: bold;
}

.navbar-right li a {
    margin-top: 0.2vh;
    margin-right: .5vw;
    color: inherit;
    font-size: 120%;
    font-weight: bold;
    width: inherit;
    margin-bottom: 20%;
    min-width: inherit;
    vertical-align: middle;
    font-family: arial;
    border: none;
}

.navbar-right li a:hover {
  background-color: none;
  color: black;
}

.carousel-inner > .item > img.tents {
  height: 100%;
}

.btn:focus {
  outline: none;
  color: #6666FF;
}

.sign-in-jumbo-content {
  height: 100%;
  width: 100%;
}

.navbar-right li a {
  color: #FF4D4D;
}

.navbar-right:last-child {
  margin-right: 2.5%;
}


div.container-fluid {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h2.description {
  padding-left: 9.5%;
}

#splash-carousel {
  height: 100%;
  width: 100%;
}

div.bootbox.modal {
  text-align: center;
}


div.bootbox.modal h2 {
  color: #FF4D4D;
  font-family: arial;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

div.carousel-caption h3 {
  font-family: arial;
  font-size: 50px;
  text-shadow: 2px gray;
}

div.carousel-caption {
  top: 15%;
  left: 33%;
  width: 100%;
}

.navbar {
  background-color: white;
  padding-top: 2vh;
  width: 100%;
  margin-bottom: 0px;
  height: 11vh;
  border: 0px;
  font-size: 100%;
  border-radius: 0px;
  border-bottom: 1px solid lightgray;
}

.carousel,.item,.active {
  height:100%;
  width: 100%
}

a.sign-in-link {
  margin-top: 5%;
  text-decoration: none;
  color: #FF4D4D;
  font-family: arial;
  font-weight: bold;
  font-size: 17px;
}

a.sign-in-link:hover {
  color: #6666FF;
}

.carousel,.item img{
  height:100%;
  width: 100%
}

.modal h2.title {
  color: #FF4D4D;
  font-family: arial;
  font-weight: bold;
}


.btn-periwinkle {
  color: white;
  font-family: arial;
  font-size: 80%;
  font-weight: bold;
  background-color: #6666FF
}

.btn-periwinkle:hover  {
  color: white;
  background-color: #FF4D4D;
}

.modal div.remember-div input {
  width: inherit;
}

.modal input {
  text-align: center;
  width: 60%
}

.btn-facebook.btn {
  color: white;
  background-color: #3B5998;
  font-size: 1em;
  &:hover {
    color: white;
    background-color: RoyalBlue;
  }
  margin-bottom: 10px;
}

img.nav-pic {
  border-radius: 20px;
  height: 40px;
}

.btn-google.btn {
  color: white;
  background-color: #DF4A32;
  font-size: 1em;
  &:hover {
    color: white;
    background-color: RoyalBlue;
  }
  margin-bottom: 10px;
}

.modal {
  text-align: center;
  margin: auto;
  height: 75%;
  width: 40%;
  border-radius: 10px;
  background-color: white;
}

div.carousel-caption {
  top: 20%;
  left: -1%;
  width: 100%;
}

div.carousel-caption h2 {
  color: white;
  text-shadow: 2px lightgray;
  font-family: arial;
  font-weight: bold;
  font-size: 60px;
  margin-top: -25px;
}

div.carousel-caption h3 {
  color: white;
  text-shadow: 5px lightgray;
  font-family: arial;
  font-weight: bold;
  font-size: 25px;
}


.carousel,.item,.active img{
  height:100%;
  width: 100%
}
.carousel-inner{
  height:100%;
  width: 100%;
}

div.home-box {
  height: 100%;
  width: 100%;
}
