<script type="text/javascript">
  $(document).ready(function()
  {
      setTimeout(function () {
        $('.carousel').carousel('next');
      }, 4000).bind(this);


  });
</script>

<div id="splash-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" data-interval="4000">
    <div class="item active">
      <%= image_tag("treehouse.jpg", :alt => "home") %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag("alaska.jpg", :alt => "home") %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag("home1.jpg", :alt => "home") %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag("huts.jpg", :alt => "home") %>
      <div class="carousel-caption">
      </div>
    </div>

  </div>


</div> <!-- Carousel -->
